<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-sm-2">
      *Required
    </div>
    <div class="col-sm-4">
      Please type in your expense
    </div>  
  </div>
  <form action="/records/create" method="POST">
    <div class="row justify-content-center my-3">
      <div class="col-sm-2">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
      </div>
      <div class="input-group col-sm-4">
        <input required ype="text" class="form-control" placeholder="支出名稱" aria-label="name" name="name">
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-sm-2">
        <label for="merchant" class="col-sm-2 col-form-label">Merchant</label>
      </div>
      <div class="input-group col-sm-4">
        <input required type="text" class="form-control" placeholder="商店" aria-label="merchant" name="merchant">
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-sm-2">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
      </div>
      <div class="input-group col-sm-4">
        <input required type="text" class="form-control" placeholder="格式: 2020-05-24" name="date" onfocus="(this.type='date')">
        {{!-- <input required type="date" class="form-control" placeholder="2020-05-24" aria-label="date" aria-describedby="basic-addon2" name="date" > --}}
      </div>    
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-sm-2">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
      </div>
      <div class="input-group col-sm-4">
        <select id="category" class="form-control" name="category">
          {{#each categoryList}}
          <option value={{@index}}>{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-sm-2">
        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
      </div>
      <div class="input-group col-sm-4">
        <input required type="number" class="form-control" aria-label="amount" name='amount' min="0" placeholder="金額">
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-sm-6" style="text-align: right;">
        <a class="btn btn-secondary mr-3" href="/">Cancel</a>
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>



  
